body {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.navbar {
    background-color: #3b5998;
    overflow: hidden;
    height: 63px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav button {
    width: fit-content;
    margin: 2px;
    font-size: 22px;
    display: block;
    transition: 0.3s;
}


.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width:568px) {
    .navbar-nav {
        display: none
    }
}

@media(min-width:568px) {
    /*.open-slide{display:none}*/
}