body {
    overflow-x: hidden;
    background-color: #D62839;
}

nav{
    background-color: #D62839;
}

.card{
    color: black !important;
    /*background-color: #D62839;*/
}

.btn{
    background-color: #690375;
    color: white;
}

select{
     background-color: #690375;
     color: white;
}

.btn:hover{
    color: #28d6c5;
}

canvas {
    cursor: pointer;
}

#main{
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}