body {
    overflow-x: hidden;
}

canvas {
    cursor: pointer;
}

#main{
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 992px) {
    .smallScreen{
        display: none;
    }
}

@media (max-width: 992px) {
    .bigScreen{
        display: none;
    }
}